In [83]:
from statsbombpy import sb

### Step 1 
The command below sorts all of the competitions that Statsbomb has by country name. Then displays it below with the country, gender, division and season. These are used in the next line of code.

In [84]:
comps = sb.competitions()
comps[comps["country_name"] == 'England']

c:\Users\Jacob\AppData\Local\Programs\Python\Python313\Lib\site-packages\statsbombpy\api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
25,37,90,England,FA Women's Super League,female,False,False,2020/2021,2023-02-25T14:52:09.326729,2021-06-13T16:17:31.694,None,2023-02-25T14:52:09.326729
26,37,42,England,FA Women's Super League,female,False,False,2019/2020,2024-02-12T15:05:34.211400,2021-06-13T16:17:31.694,None,2024-02-12T15:05:34.211400
27,37,4,England,FA Women's Super League,female,False,False,2018/2019,2024-06-12T07:41:45.347457,2021-06-13T16:17:31.694,None,2024-06-12T07:41:45.347457
64,2,27,England,Premier League,male,False,False,2015/2016,2024-06-12T07:43:56.243851,2021-06-13T16:17:31.694,None,2024-06-12T07:43:56.243851
65,2,44,England,Premier League,male,False,False,2003/2004,2024-03-08T14:49:13.195793,2021-06-13T16:17:31.694,None,2024-03-08T14:49:13.195793

### Step 2
With the list of competitions above we can write the code below to grab all of the data from that specific season which in our case is the 2015/2016 season.

In [85]:
events = sb.competition_events(
    country="England",
    division= "Premier League",
    season="2015/2016",
    gender="male"
)

c:\Users\Jacob\AppData\Local\Programs\Python\Python313\Lib\site-packages\statsbombpy\api_client.py:21: NoAuthWarning: credentials were not supplied. open data access only
  warnings.warn(

### Step 3
With all of the data from the season we want to filter it down to different points. The first line of code is grabbing all of the events that are considered shots, then it grabs the only the ones for Liverpool. The next two lines of code split apart our x-axis and y-axis locations apart so they can be easily analyzed in excel. The final line of code turns the data into a variable that is named exportdata which was had all of the shots data with columns for location, x, y, the outcome of the shot, statboms xg, and the team name.

In [86]:
shots = events[(events['type'] == 'Shot') & (events['team'] == 'Liverpool')]
shots['start_x'] = shots['location'].str[0]
shots['start_y'] = shots['location'].str[1]
exportdata = shots[['location', 'start_x', 'start_y', 'shot_outcome', 'shot_statsbomb_xg', 'team']]

C:\Users\Jacob\AppData\Local\Temp\ipykernel_20516\1330821043.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  shots['start_x'] = shots['location'].str[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_20516\1330821043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots['start_x'] = shots['location'].str[0]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_20516\1330821043.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  shots['start_y'] = shots['location'].str[1]
C:\Users\Jacob\AppData\Local\Temp\ipykernel_20516\1330821043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots['start_y'] = shots['location'].str[1]

### Step 4
After all of that is done we asked the computer to show us the variable to check that everting is correct with our code.

In [87]:
exportdata

,location,start_x,start_y,shot_outcome,shot_statsbomb_xg,team
1146524,"[96.0, 24.8]",96.0,24.8,Saved,0.025212,Liverpool
1146526,"[104.9, 31.4]",104.9,31.4,Off T,0.096090,Liverpool
1146527,"[108.1, 31.7]",108.1,31.7,Saved,0.082629,Liverpool
1146528,"[105.9, 41.9]",105.9,41.9,Goal,0.207541,Liverpool
1146529,"[89.3, 47.8]",89.3,47.8,Off T,0.019666,Liverpool
...,...,...,...,...,...,...
1156184,"[103.4, 47.3]",103.4,47.3,Blocked,0.100556,Liverpool
1156190,"[96.1, 54.5]",96.1,54.5,Off T,0.022818,Liverpool
1156191,"[111.8, 42.0]",111.8,42.0,Saved to Post,0.266588,Liverpool
1156192,"[106.4, 47.2]",106.4,47.2,Off T,0.063110,Liverpool
1156193,"[98.2, 35.1]",98.2,35.1,Off T,0.050807,Liverpool

### Step 5
All this line of code does is make the table downloadable so that we can export it into excel.

In [88]:
exportdata.to_csv("D:\Liverpoolshots.csv")

<>:1: SyntaxWarning: invalid escape sequence '\L'
<>:1: SyntaxWarning: invalid escape sequence '\L'
C:\Users\Jacob\AppData\Local\Temp\ipykernel_20516\87530081.py:1: SyntaxWarning: invalid escape sequence '\L'
  exportdata.to_csv("D:\Liverpoolshots.csv")